@media only screen and (max-width: 600px) {
  html {
    font-size: 70%;
  } /*16px*/
  .main-banner .caption h2 {
    font-size: 4.5rem;
  }
  .mobile-hide {
    display: none;
  }

  .about-lines {
    margin-bottom: 1rem;
  }
  p {
    line-height: 20px;
  }
  .mobile {
    display: block;
    padding-top: 8rem;
  }
  .desktop {
    display: none;
  }
  .services {
    flex-direction: column;
    min-height: 100vh;
  }
  .single_service {
    width: 100% !important;
  }
}
